body{
	background:black;
	padding:5px;
}
.presentacion{
	background:white;
	margin-left:8px;
	margin-right:8px;
	border-radius:5px;
}
.imglogo{
	width:8rem;
	margin-top:5px;
	margin-bottom:5px;
	padding-left:5px;
}
.redeslogo{
	width:4rem;
	border-radius:5px;
	position:relative;
	top:40px;
}
.navbar{
	margin-top:5px;
	background-color:white;
	padding-top:1rem;
}
.itemnav{
	background:black;
	color:white;
	padding-left:5%;
	padding-right:5%;
	padding-top:0.5rem;
	margin-bottom:1rem;
	border-radius:5px;
	height:3rem;
}
.contenido{
	background:white;
	margin-top:1rem;
	border-radius:5px;
	padding:1rem;
}
.lista-sugerencias{
	background:white;
	border-radius:5px;
	margin-top:1rem;
}
.grupoimg{
	width:15rem;
	margin-top:1rem;
	margin-bottom:1rem;
}
.glyphicon-search{
	color:white;
	margin-top:1rem;
	margin-left:1rem;
}
.busqueda{
	width:90%;
	float:right;
}
.glyphicon-user{
	margin-top:1rem;
	margin-left:;
	font-size:20px;
}